<%= form_with(model: [:admin, movie], local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="dropdown">
    <%= form.select :gentre_ids, Gentre.all.collect {|x| [x.name, x.id]},{}, { multiple: true }%>
  </div>

  <div class="field">
    <%= form.label :year %>

    <%= form.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year)  %>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <% if movie.thumbnail.attachment %>
      Download current: <%= link_to movie.thumbnail.filename, rails_blob_path(movie.thumbnail, disposition: "attachment") %></br>
    <% end  %>
  </br>
    Update:
    <%= form.file_field :thumbnail, accept:'image/*' %>
    Only PNG, JPEG and JPG images 1000 pixels tall and between 600 and 800 pixels wide. 1MB max.
  </div>

  <div class="field">
    <%= form.label :director %>
    <%= form.text_field :director %>
  </div>

  <div class="field">
    <%= form.label :main_star %>
    <%= form.text_field :main_star %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
