<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table border="1">
  <col width="150">
  <col width="150">
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Times Favorited</th>
      <th colspan="1">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name, edit_admin_movie_path(movie) %></td>
        <td><%= movie.year %></td>
        <td><%= movie.favorites_count %></td>
        <td><%= link_to 'Destroy', admin_movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless @user %>
  <%= link_to 'New Movie', new_admin_movie_path %>
<% end %>
