<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <% if @movie.thumbnail.attachment %>
    <%= link_to @movie.thumbnail.filename, rails_blob_path(@movie.thumbnail, disposition: "attachment") %>
  <% end %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Main star:</strong>
  <%= @movie.main_star %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<%= link_to 'Edit', edit_admin_movie_path(@movie) %> |
<%= link_to 'Back', admin_movies_path %>
